#================configs related to carbon.xml=============
[server]
hostname = "IS_HOSTNAME"
node_ip = "127.0.0.1"
base_path = "https://$ref{server.hostname}:${carbon.management.port}"
serverDetails = "WSO2 IS as KM 5.11.0"
mode = "single"
userAgent = "WSO2 IS as KM 5.11.0"
offset = 3

[keystore.primary]
name = "wso2carbon.jks"
password = "wso2carbon"

[tenant_mgt]
enable_email_domain = true

#================configs related to user-mgt.xml=============

[super_admin]
username = "admin@wso2.com"
password = "wso2123"
create_admin_account = true

[realm_manager]
data_source= "WSO2USER_DB"

[user_store]
type = "database_unique_id"
class = "org.wso2.carbon.user.core.jdbc.UniqueIDJDBCUserStoreManager"

[user_store.properties]
UsernameJavaRegEx = "a-zA-Z0-9@._-{3,30}$"
UsernameJavaScriptRegEx = "^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$"
SCIMEnabled = false
IsBulkImportSupported = false
LeadingOrTrailingSpaceAllowedInUserName = false
UsernameWithEmailJavaScriptRegEx = "^[\\S]{3,30}$"

[authorization_manager]
class = "org.wso2.carbon.user.core.authorization.JDBCAuthorizationManager"

[authorization_manager.properties]
AdminRoleManagementPermissions = "/permission"
AuthorizationCacheEnabled = true
GetAllRolesOfUserEnabled = false

#================configs related to master-datasources.xml=============

# for registry data
[database.shared_db]
url = "DB_GOV_URL"
username = "DB_USER"
password = "DB_PASS"
driver = "DB_DRIVER"

[database.shared_db.pool_options]
maxActive = "150"
maxWait = "60000"
minIdle ="5"
testOnBorrow = true
validationQuery="SELECT 1"
#Use below for oracle
#validationQuery="SELECT 1 FROM DUAL"
validationInterval="30000"
defaultAutoCommit=false

# for api manager data
[database.identity_db]
url = "DB_APIMGT_URL"
username = "DB_USER"
password = "DB_PASS"
driver = "DB_DRIVER"

[database.identity_db.pool_options]
maxActive = "150"
maxWait = "60000"
minIdle ="5"
testOnBorrow = true
validationQuery="SELECT 1"
#Use below for oracle
#validationQuery="SELECT 1 FROM DUAL"
validationInterval="30000"
defaultAutoCommit=false

# for km-config registry
[database.config]
url = "DB_IS_CONFIG_URL"
username = "DB_USER"
password = "DB_PASS"
driver = "DB_DRIVER"

[database.config.pool_options]
maxActive = "150"
maxWait = "60000"
minIdle ="5"
testOnBorrow = true
validationQuery="SELECT 1"
#Use below for oracle
#validationQuery="SELECT 1 FROM DUAL"
validationInterval="30000"
defaultAutoCommit=false

# for user-mgt data
[database.user]
url = "DB_USER_STORE_URL"
username = "DB_USER"
password = "DB_PASS"
driver = "DB_DRIVER"

[database.user.pool_options]
maxActive = "150"
maxWait = "60000"
minIdle ="5"
testOnBorrow = true
validationQuery="SELECT 1"
#Use below for oracle
#validationQuery="SELECT 1 FROM DUAL"
validationInterval="30000"
defaultAutoCommit=false

# for Open Banking  data
[[datasource]]
id="WSO2OB_DB"
url = "DB_OB_STORE_URL"
username = "DB_USER"
password = "DB_PASS"
driver = "DB_DRIVER"
jmx_enable=false
pool_options.maxActive = "150"
pool_options.maxWait = "60000"
pool_options.minIdle = "5"
pool_options.testOnBorrow = true
pool_options.validationQuery="SELECT 1"
#Use below for oracle
#validationQuery="SELECT 1 FROM DUAL"
pool_options.validationInterval="30000"
pool_options.defaultAutoCommit=false

#================configs related to application-authentication.xml=============

[authentication.endpoints]
login_url = "https://IS_HOSTNAME:9446/authenticationendpoint/login.do"
retry_url = "https://IS_HOSTNAME:9446/authenticationendpoint/retry.do"

[authentication.endpoint.redirect_params]
filter_policy = "include"
remove_on_consume_from_api = "true"
parameters = ["sessionDataKeyConsent","relyingParty", "authenticators", "authFailureMsg", "authFailure"]

[authentication.authenticator.sms_otp.parameters]
EnableAccountLockingForFailedAttempts = true
BackupCode = false
TokenExpiryTime = 60

[[authentication.custom_authenticator]]
name = "IdentifierExecutor"
parameters.ValidateUsername = true
parameters.throttleLimit = 3
parameters.throttleTimePeriod = 300
parameters.authRequestURL = "https://IS_HOSTNAME:9446/api/identity/auth/v1.1/data/AuthRequestKey/"

#================configs related to identity.xml=============

[identity_data_source]
skip_db_schema_creation = true

[oauth]
allowed_scopes = ["consent.*"]

[oauth.token_renewal]
renew_refresh_token = false

[oauth.endpoints]
oauth2_consent_page = "${carbon.protocol}://IS_HOSTNAME:${carbon.management.port}/ob/authenticationendpoint/oauth2_authz.do"
oidc_consent_page = "${carbon.protocol}://IS_HOSTNAME:${carbon.management.port}/ob/authenticationendpoint/oauth2_consent.do"

[oauth.response_type]
token.enable = true
code.enable = false
id_token.enable = true
id_token_token.enable = false
device.enable = true

[[oauth.custom_response_type]]
name = "code"
class = "com.wso2.openbanking.accelerator.identity.auth.extensions.response.handler.OBCodeResponseTypeHandlerExtension"

[[oauth.custom_response_type]]
name = "code id_token"
class = "com.wso2.openbanking.accelerator.identity.auth.extensions.response.handler.OBHybridResponseTypeHandlerExtension"

[[event_listener]]
id = "token_revocation"
type = "org.wso2.carbon.identity.core.handler.AbstractIdentityHandler"
name = "org.wso2.is.notification.ApimOauthEventInterceptor"
order = 1

[event_listener.properties]
notification_endpoint = "https://APIM_HOSTNAME:9443/internal/data/v1/notify"
username = "${admin.username}"
password = "${admin.password}"
'header.X-WSO2-KEY-MANAGER' = "WSO2-IS"

[[event_listener]]
id = "private_key_jwt_authenticator"
type = "org.wso2.carbon.identity.core.handler.AbstractIdentityHandler"
name = "org.wso2.carbon.identity.oauth2.token.handler.clientauth.jwt.PrivateKeyJWTClientAuthenticator"
order = "899"

[oauth.grant_type]
iwa_ntlm.enable = false
jwt_bearer.enable = true

[identity_mgt.user_self_registration]
allow_self_registration = true

[[resource.access_control]]
context = "(.)/keymanager-operations/user-info/claims(.)"
secure = true
http_method = "GET"
permissions = "/permission/admin/manage/identity/usermgt/list"
scopes = "internal_user_mgt_list"

[[resource.access_control]]
context = "(.*)/keymanager-operations/user-info/claims/generate"
secure = true
http_method = "POST"
permissions = "/permission/admin/manage/identity/usermgt/list"
scopes = "internal_user_mgt_list"

[[resource.access_control]]
context = "(.*)/keymanager-operations/dcr/register"
secure = true
http_method = "POST"
permissions = "/permission/admin/manage/identity/applicationmgt/create"
scopes = "internal_application_mgt_create"

[[resource.access_control]]
context = "(.*)/keymanager-operations/dcr/register(.*)"
secure = true
http_method = "GET"
permissions = "/permission/admin/manage/identity/applicationmgt/view"
scopes = "internal_application_mgt_view"

[[resource.access_control]]
context = "(.*)/keymanager-operations/dcr/register(.*)"
secure = true
http_method = "DELETE"
permissions = "/permission/admin/manage/identity/applicationmgt/delete"
scopes = "internal_application_mgt_delete"

[[resource.access_control]]
context = "(.*)/keymanager-operations/dcr/register(.*)"
secure = true
http_method = "PUT"
permissions = "/permission/admin/manage/identity/applicationmgt/update"
scopes = "internal_application_mgt_update"

[[resource.access_control]]
context = "(.)/keymanager-operations/dcr/register(.)"
secure = true
http_method = "POST"
permissions = "/permission/admin/manage/identity/applicationmgt/update"
scopes = "internal_application_mgt_update"

[[resource.access_control]]
context = "(.*)/api/openbanking/consent/(.*)"
secure="true"
http_method="all"
permissions=["/permission/admin"]
allowed_auth_handlers = ["BasicAuthentication"]

[[resource.access_control]]
context = "(.*)/api/openbanking/push-authorization/(.*)"
secure="true"
http_method="all"
permissions=["/permission/admin"]
allowed_auth_handlers = ["BasicAuthentication"]

[[resource.access_control]]
context = "(.*)/consentmgr(.*)"
secure="false"
http_method="GET, DELETE"

[[resource.access_control]]
context = "(.*)/api/openbanking/application/(.*)"
secure="false"
http_method="GET"

[authentication.adaptive.event_publisher]
url = "http://IS_HOSTNAME:8006/"

[tenant_context.rewrite]
custom_webapps = ["/keymanager-operations/"]

[oauth.mutualtls]
client_certificate_header = "x-wso2-mutual-auth-cert"

[event.default_listener.mutual_tls_authenticator]
enable = false

[[event_listener]]
id = "ob_mutual_tls_authenticator"
type = "org.wso2.carbon.identity.core.handler.AbstractIdentityHandler"
name = "com.wso2.openbanking.accelerator.identity.clientauth.OBMutualTLSClientAuthenticator"
order = "26"
enable = true

[oauth.token.validation]
include_validation_context_as_jwt_in_reponse = "true"
validation_response_signing_algorithm = "SHA256withRSA"
validation_response_jwt_validity = "15m"

[oauth.extensions]
token_context_generator = "org.wso2.carbon.identity.oauth2.authcontext.JWTTokenGenerator"
token_context_claim_retriever = "org.wso2.carbon.identity.oauth2.authcontext.DefaultClaimsRetriever"
token_context_dialect_uri = "http://wso2.org/claims"

[oauth.token_generation]
access_token_type = "self_contained"

[oauth.grant_type.uma_ticket]
retrieve_uma_permission_info_through_introspection = true

[oauth.grant_type.refresh_token]
enable=true
grant_handler="com.wso2.openbanking.accelerator.identity.grant.type.handlers.OBRefreshGrantHandler"

[oauth.grant_type.authorization_code]
enable=true
grant_handler="com.wso2.openbanking.accelerator.identity.grant.type.handlers.OBAuthorizationCodeGrantHandler"

[oauth.grant_type.password]
enable=true
grant_handler="com.wso2.openbanking.accelerator.identity.grant.type.handlers.OBPasswordGrantHandler"

[oauth.grant_type.client_credentials]
enable=true
grant_handler="com.wso2.openbanking.accelerator.identity.grant.type.handlers.OBClientCredentialsGrantHandler"

[oauth.oidc.extensions]
claim_callback_handler="com.wso2.openbanking.accelerator.identity.claims.OBDefaultOIDCClaimsCallbackHandler"
request_object_validator = "com.wso2.openbanking.accelerator.identity.auth.extensions.request.validator.OBRequestObjectValidationExtension"

[[oauth.oidc.custom_request_object_builder]]
type = "request_uri_param_value_builder"
class = "com.wso2.openbanking.accelerator.identity.builders.DefaultOBRequestUriRequestObjectBuilder"

#================configs related to identity-event.properties=============

[[event_handler]]
name="userPostSelfRegistration"
subscriptions=["POST_ADD_USER"]

#================configs related to open-banking.xml=============

[open_banking]
username="$ref{super_admin.username}"
password="$ref{super_admin.password}"

[[open_banking.jdbc_persistence_manager]]
data_source.name = "WSO2OB_DB"
connection_verification_timeout=1

#================data publishing configs=============

[open_banking.data_publishing]
enable = false
username="$ref{super_admin.username}@carbon.super"
password="$ref{super_admin.password}"
server_url = "{tcp://BI_HOSTNAME:7612}"
#auth_url = "{ssl://BI_HOSTNAME:7612}"
protocol = "Thrift"
pool_size = 10
queue_size = 32768
worker_thread_count = 10
pool_wait_time_Ms = 60000
auth_data_publisher = "com.wso2.openbanking.accelerator.authentication.data.publisher.extension.DefaultAuthDataPublisher"

#================custom filters and filter-mappings==============
[[tomcat.filter]]
name = "TokenFilter"
class = "com.wso2.openbanking.accelerator.identity.token.TokenFilter"

[[tomcat.filter_mapping]]
name = "TokenFilter"
url_pattern = "/token"

#===================for Connection pool====================
[open_banking.http_connection_pool]
max_connections = 2000
max_connections_per_route = 1500

#================Berlin Toolkit==============
#================Identity==============

# Add berlin AuthServletImpl when implemented
[open_banking.identity.authentication_webapp]
servlet_extension = ""

#================consent management==============
[[open_banking.consent.authorize_steps.retrieve]]
class = ""
priority = 1

[[open_banking.consent.authorize_steps.retrieve]]
class = ""
priority = 2

[[open_banking.consent.authorize_steps.persist]]
class = ""
priority = 1

[[open_banking.consent.authorize_steps.persist]]
class = ""
priority = 2

[open_banking.consent.manage]
handler="com.wso2.openbanking.berlin.consent.extensions.manage.impl.BerlinConsentManageHandler"

[open_banking.consent.validation]
validator="com.wso2.openbanking.berlin.consent.extensions.validate.impl.BerlinConsentValidator"

[open_banking.consent.validation.signature]
alias="wso2carbon"

[open_banking.consent.admin]
handler="com.wso2.openbanking.accelerator.consent.extensions.admin.impl.DefaultConsentAdminHandler"

[open_banking.identity.mutualtls]
#This property needs to be true if the certificate should be decoded when it is passed from the load balancer to the Gateway.
client_certificate_encode=true

[open_banking_berlin.consent]
# Add backend service URLs when implemented
payable_account_retrieval_endpoint = ""
sharable_account_retrieval_endpoint = ""
self_link_version="v1"
single_acc_no_retrieval_validation.enable = "false"
acc_ref_type = "iban"
max_future_payment_days = ""

[open_banking_berlin.consent.freq_per_day]
enable = true

[open_banking_berlin.consent.valid_until_date_cap]
enable = false
value = 0

[open_banking_berlin.consent.multiple_recurring_consent]
enable = false

[open_banking_berlin.consent.sca]
required = true
oauth_metadata_endpoint = "https://APIM_HOSTNAME:8243/.well-known/openid-configuration"

[[open_banking_berlin.consent.sca.supported_sca_approach]]
name = "REDIRECT"
default.enable = true

[[open_banking_berlin.consent.sca.supported_sca_method]]
auth_type = "SMS_OTP"
auth_version = "1.0"
auth_method_id = "sms-otp"
name = "SMS OTP on Mobile"
mapped_approach = "REDIRECT"
explanation = "SMS based one time password"
default.enable = true

[open_banking_berlin.consent.multi_currency]
enable=false
