<!--
 ~ Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Berlin Group Integration">
    <test name="Payments Flow Tests" parallel="false" enabled="true" group-by-instances="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Common_Tests.PaymentsSCAFlowTest"/>
        </classes>
    </test>
    <test name="Payments Initiation Flow Tests" parallel="false" enabled="true" group-by-instances="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.InitiationRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.SinglePaymentInitiationRequestPayloadValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.BulkPaymentInitiationRequestPayloadValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.PeriodicPaymentInitiationRequestPayloadValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.FutureDatedPaymentInitiationRequestValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.GetPaymentRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.GetPaymentResponseValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.DeletePaymentResponseValidationTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.DeletePaymentRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.MultiCurrencyValidationTests"/>
        </classes>
    </test>
    <test name="Payments Authorisation Flow Tests" parallel="false" enabled="true" group-by-instances="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Authorization_Tests.PaymentAuthorisationRequestValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Authorization_Tests.ExplicitAuthorisationTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Authorization_Tests.CancellationAuthorisationTest"/>
        </classes>
    </test>
</suite>
