<!--
 ~ Copyright (c) 2021-2022, WSO2 LLC. (https://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 LLC. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein in any form is strictly forbidden, unless permitted by WSO2 expressly.
 ~ You may not alter or remove any copyright or other notice from copies of this content.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Berlin Group Integration">
    <test name="Payments Flow Tests" parallel="false" enabled="true" group-by-instances="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Common_Tests.PaymentsSCAFlowTest"/>
        </classes>
    </test>
    <test name="Payments Initiation Flow Tests" parallel="false" enabled="true" group-by-instances="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.InitiationRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.SinglePaymentInitiationRequestPayloadValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.BulkPaymentInitiationRequestPayloadValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.PeriodicPaymentInitiationRequestPayloadValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.FutureDatedPaymentInitiationRequestValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.GetPaymentRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.GetPaymentResponseValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.DeletePaymentResponseValidationTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.DeletePaymentRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Initiation_Tests.MultiCurrencyValidationTests"/>
        </classes>
    </test>
    <test name="Payments Authorisation Flow Tests" parallel="false" enabled="true" group-by-instances="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Authorization_Tests.PaymentAuthorisationRequestValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Authorization_Tests.ExplicitAuthorisationTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.payments.common_test.Payments_Authorization_Tests.CancellationAuthorisationTest"/>
        </classes>
    </test>
</suite>
