<!--
  ~ Copyright (c)  2021, WSO2 Inc. (http://www.wso2.com). All Rights Reserved.
  ~
  ~ This software is the property of WSO2 Inc. and its suppliers, if any.
  ~ Dissemination of any information or reproduction of any material contained
  ~ herein is strictly forbidden, unless permitted by WSO2 in accordance with
  ~ the WSO2 Software License available at https://wso2.com/licenses/eula/3.1.
  ~ For specific language governing the permissions and limitations under this
  ~ license, please see the license as well as any agreement you’ve entered into
  ~ with WSO2 governing the purchase of this software and any associated services.
  ~
  -->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="consent-base-test-suite">
    <test name="consent-common-tests">
        <classes>
            <class name="com.wso2.openbanking.berlin.consent.extensions.common.ConsentExtensionUtilTests"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.common.HeaderValidatorTests"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.common.LinksConstructorTests"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.manage.handler.request.factory.RequestHandlerFactoryTests"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.manage.handler.service.factory.ServiceHandlerFactoryTests"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.manage.impl.BerlinConsentManageHandlerTests"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.admin.impl.BGConsentAdminHandlerTest"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.validate.validator.factory.SubmissionValidatorFactoryTests"/>
        </classes>
    </test>
    <test name="payments-tests">
        <classes>
            <class name="com.wso2.openbanking.berlin.consent.extensions.manage.handler.request.impl.PaymentInitiationRequestHandlerTests"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.manage.handler.service.impl.PaymentServiceHandlerTests"/>
            <class name="com.wso2.openbanking.berlin.consent.extensions.manage.util.PaymentConsentUtilTests"/>
        </classes>
    </test>
</suite>
