<!--
 ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 Inc. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein is strictly forbidden, unless permitted by WSO2 in accordance with
 ~ the WSO2 Software License available at https://wso2.com/licenses/eula/3.1.
 ~ For specific language governing the permissions and limitations under this
 ~ license, please see the license as well as any agreement you’ve entered into
 ~ with WSO2 governing the purchase of this software and any associated services.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Berlin Group Integration">
    <test name="Accounts Flow Tests" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Common_Tests.AllAvailableAccountsEndToEndFlowTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Common_Tests.GlobalConsentEndToEndFlowTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Common_Tests.AccountsSCAFlowTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.accounts_136.Accounts_Common_Tests.AccountsFlowTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Common_Tests.BankOfferedConsentEndToEndFlow"/>
        </classes>
    </test>
    <test name="Accounts Initiation Flow Tests" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Initiation_Tests.AccountsInitiationRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Initiation_Tests.AccountsInitiationRequestPayloadValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Initiation_Tests.AccountListConsentRequestPayloadValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Initiation_Tests.GetConsentRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Initiation_Tests.GetConsentResponseValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Initiation_Tests.DeleteConsentRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Initiation_Tests.DeleteConsentResponseValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.accounts_136.Accounts_Initiation_Tests.AccountListConsentRequestPayloadValidationTests"/>
        </classes>
    </test>
    <test name="Accounts Authorization Flow Tests" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Authorization_Tests.AccountAuthorisationRequestValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Authorization_Tests.AccountsBankOfferedConsentTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Authorization_Tests.AccountsExplicitAuthorisation"/>
        </classes>
    </test>
    <test name="Accounts Retrieval Flow Tests" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Retrieval_Tests.AccountRetrievalRequestHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Retrieval_Tests.AccountRetrievalResponseValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Retrieval_Tests.CardAccountsRetrievalRequestBodyValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Retrieval_Tests.AccountsListRetrievalResponseValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Retrieval_Tests.AccountTransactionRetrievalHeaderValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.accounts_136.Accounts_Retrieval_Tests.AccountRetrievalResponseValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.integration.test.accounts.common_test.Accounts_Retrieval_Tests.MultiCurrencyValidationTests"/>
        </classes>
    </test>
</suite>
