<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2021-2022, WSO2 LLC. (https://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 LLC. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein in any form is strictly forbidden, unless permitted by WSO2 expressly.
 ~ You may not alter or remove any copyright or other notice from copies of this content.
-->

<Server xmlns="http://wso2.org/projects/carbon/open-banking-berlin.xml">

    <Gateway>
        <SignatureVerification>
            <SupportedHashAlgorithms>
                {% if open_banking_berlin.gateway.signature_verification.supported_hash_algorithms is defined %}
                {% for name in open_banking_berlin.gateway.signature_verification.supported_hash_algorithms %}
                    <Algorithm>{{name}}</Algorithm>
                {% endfor %}
                {% else %}
                    <Algorithm>SHA-256</Algorithm>
                    <Algorithm>SHA-512</Algorithm>
                {% endif %}
                </SupportedHashAlgorithms>

                <SupportedSignatureAlgorithms>
                {% if open_banking_berlin.gateway.signature_verification.supported_signature_algorithms is defined %}
                {% for name in open_banking_berlin.gateway.signature_verification.supported_signature_algorithms %}
                    <Algorithm>{{name}}</Algorithm>
                {% endfor %}
                {% else %}
                    <Algorithm>SHA256withRSA</Algorithm>
                    <Algorithm>SHA512withRSA</Algorithm>
                {% endif %}
                </SupportedSignatureAlgorithms>
        </SignatureVerification>
    </Gateway>

    <ConsentManagement>
        <!-- Enable frequency per day throttling for eligible API GET calls -->
        <!--Maximum value is 4 unless agreed bilaterally between TPP and ASPSP-->
        <FrequencyPerDay>
            {% if open_banking_berlin.consent.freq_per_day.enable is defined %}
            <Enable>{{open_banking_berlin.consent.freq_per_day.enable}}</Enable>
            {% else %}
            <Enable>true</Enable>
            {% endif %}
            {% if open_banking_berlin.consent.freq_per_day.value is defined %}
            <Frequency>{{open_banking_berlin.consent.freq_per_day.value}}</Frequency>
            {% else %}
            <Frequency>4</Frequency>
            {% endif %}
        </FrequencyPerDay>
        {% if open_banking_berlin.consent.payment_consent_status_update_url is defined %}
        <PaymentConsentStatusUpdateURL>{{open_banking_berlin.consent.payment_consent_status_update_url}}</PaymentConsentStatusUpdateURL>
        {% else %}
        <PaymentConsentStatusUpdateURL>https://IS_HOSTNAME:9446/api/openbanking/consent/manage/payment-consent-status-update-process</PaymentConsentStatusUpdateURL>
        {% endif %}
    </ConsentManagement>

    <KeyManager>
        {% if open_banking.berlin.keymanager.org_id_validation is defined %}
        <OrgIdValidationRegex>{{open_banking.berlin.keymanager.org_id_validation.regex}}</OrgIdValidationRegex>
        {% else %}
         <OrgIdValidationRegex>^PSD[A-Z]{2}-[A-Z]{2,8}-[a-zA-Z0-9]*$</OrgIdValidationRegex>
        {% endif %}
    </KeyManager>
</Server>
