<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 Inc. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein is strictly forbidden, unless permitted by WSO2 in accordance with
 ~ the WSO2 Software License available at https://wso2.com/licenses/eula/3.1.
 ~ For specific language governing the permissions and limitations under this
 ~ license, please see the license as well as any agreement you’ve entered into
 ~ with WSO2 governing the purchase of this software and any associated services.
-->

<Server xmlns="http://wso2.org/projects/carbon/open-banking-berlin.xml">
    <ConsentManagement>
        <!-- Enable frequency per day throttling for eligible API GET calls -->
        <!--Maximum value is 4 unless agreed bilaterally between TPP and ASPSP-->
        <FrequencyPerDay>
            {% if open_banking_berlin.consent.freq_per_day.enable is defined %}
            <Enable>{{open_banking_berlin.consent.freq_per_day.enable}}</Enable>
            {% else %}
            <Enable>true</Enable>
            {% endif %}
            {% if open_banking_berlin.consent.freq_per_day.value is defined %}
            <Frequency>{{open_banking_berlin.consent.freq_per_day.value}}</Frequency>
            {% else %}
            <Frequency>4</Frequency>
            {% endif %}
        </FrequencyPerDay>

        <Idempotency>
            <!-- Allowed idempotency duration in hours -->
            {% if open_banking_berlin.consent.idempotency.allowed_time is defined %}
            <AllowedDuration>{{open_banking_berlin.consent.idempotency.allowed_time}}</AllowedDuration>
            {% else %}
            <AllowedDuration>1</AllowedDuration>
            {% endif %}
        </Idempotency>
    </ConsentManagement>
</Server>
