<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 Inc. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein is strictly forbidden, unless permitted by WSO2 in accordance with
 ~ the WSO2 Software License available at https://wso2.com/licenses/eula/3.1.
 ~ For specific language governing the permissions and limitations under this
 ~ license, please see the license as well as any agreement you’ve entered into
 ~ with WSO2 governing the purchase of this software and any associated services.
-->

<Server xmlns="http://wso2.org/projects/carbon/open-banking-berlin.xml">
    <ConsentManagement>
        {% if open_banking_berlin.consent.payable_account_retrieval_endpoint is defined %}
        <PayableAccountsRetrieveEndpoint>{{open_banking_berlin.consent.payable_account_retrieval_endpoint}}</PayableAccountsRetrieveEndpoint>
        {% else %}
        <PayableAccountsRetrieveEndpoint></PayableAccountsRetrieveEndpoint>
        {% endif %}

        {% if open_banking_berlin.consent.sharable_account_retrieval_endpoint is defined %}
        <SharableAccountsRetrieveEndpoint>{{open_banking_berlin.consent.sharable_account_retrieval_endpoint}}</SharableAccountsRetrieveEndpoint>
        {% else %}
        <SharableAccountsRetrieveEndpoint></SharableAccountsRetrieveEndpoint>
        {% endif %}

        <!-- Configurations regarding the Strong Customer Authentication -->
        <SCA>
            {% if open_banking_berlin.consent.sca.required is defined %}
            <Required>{{open_banking_berlin.consent.sca.required}}</Required>
            {% else %}
            <Required>true</Required>
            {% endif %}
            <!--
            Allowed values for SupportedSCAApproaches names are:
            1. REDIRECT (OAUTH2 is subsumed by this)
            2. DECOUPLED
            3. EMBEDDED
            -->
            <SupportedSCAApproaches>
                {% if open_banking_berlin.consent.sca.supported_sca_approach is defined %}
                {% for sca_approach_object in open_banking_berlin.consent.sca.supported_sca_approach %}
                <Approach>
                     <Name>{{sca_approach_object.name}}</Name>
                     <Default>{{sca_approach_object.default.enable}}</Default>
                </Approach>
                {% endfor %}
                {% else %}
                <Approach>
                     <Name>REDIRECT</Name>
                     <Default>true</Default>
                </Approach>
                {% endif %}
            </SupportedSCAApproaches>
            <!--Endpoint to retrieve OIDC Discovery metadata-->
            {% if open_banking_berlin.consent.sca.oauth_metadata_endpoint is defined %}
            <OAuthMetadataEndpoint>{{open_banking_berlin.consent.sca.oauth_metadata_endpoint}}</OAuthMetadataEndpoint>
            {% else %}
            <OAuthMetadataEndpoint>https://APIM_HOSTNAME:8243/.well-known/openid-configuration</OAuthMetadataEndpoint>
            {% endif %}
            <!-- Configure SCA Methods for API responses -->
            <SupportedSCAMethods>
                {% if open_banking_berlin.consent.sca.supported_sca_method is defined %}
                {% for auth_object in open_banking_berlin.consent.sca.supported_sca_method %}
                <Method>
                    <Type>{{auth_object.auth_type}}</Type>
                    <Version>{{auth_object.auth_version}}</Version>
                    <Id>{{auth_object.auth_method_id}}</Id>
                    <Name>{{auth_object.name}}</Name>
                    <MappedApproach>{{auth_object.mapped_approach}}</MappedApproach>
                    <Description>{{auth_object.explanation}}</Description>
                    <Default>{{auth_object.default.enable}}</Default>
                </Method>
                {% endfor %}
                {% else %}
                <Method>
                    <Type>SMS_OTP</Type>
                    <Version>1.0</Version>
                    <Id>sms-otp</Id>
                    <Name>SMS OTP on Mobile</Name>
                    <MappedApproach>REDIRECT</MappedApproach>
                    <Description>SMS based one time password</Description>
                    <Default>true</Default>
                </Method>
                {% endif %}
            </SupportedSCAMethods>
        </SCA>

        <!--Enable IBAN validation for single accounts -->
    	{% if open_banking_berlin.consent.single_acc_no_retrieval_validation.enable is defined %}
    	<EnableAccountIDValidation>{{open_banking_berlin.consent.single_acc_no_retrieval_validation.enable}}</EnableAccountIDValidation>
    	{% else %}
    	<EnableAccountIDValidation>false</EnableAccountIDValidation>
    	{% endif %}

        <!-- Enable frequency per day throttling for eligible API GET calls -->
        <!--Maximum value is 4 unless agreed bilaterally between TPP and ASPSP-->
        <FrequencyPerDay>
            {% if open_banking_berlin.consent.freq_per_day.enable is defined %}
            <Enable>{{open_banking_berlin.consent.freq_per_day.enable}}</Enable>
            <Enable>true</Enable>
            {% endif %}
            {% if open_banking_berlin.consent.freq_per_day.value is defined %}
            <Frequency>{{open_banking_berlin.consent.freq_per_day.value}}</Frequency>
            <Frequency>4</Frequency>
            {% endif %}
        </FrequencyPerDay>

    	<!-- Enable validUntil Date cap for Account Consent Creation -->
        <ValidUntilDateCap>
            {% if open_banking_berlin.consent.valid_until_date_cap.enable is defined %}
            <Enabled>{{open_banking_berlin.consent.valid_until_date_cap.enable}}</Enabled>
            {% else %}
            <Enabled>false</Enabled>
            {% endif %}
            {% if open_banking_berlin.consent.valid_until_date_cap.value is defined %}
            <ValidUntilDays>{{open_banking_berlin.consent.valid_until_date_cap.value}}</ValidUntilDays>
            {% else %}
            <ValidUntilDays>0</ValidUntilDays>
            {% endif %}
        </ValidUntilDateCap>

        <!--
        Allowed values for account reference type
            1. iban
            2. bban
            3. pan
        -->
    	{% if open_banking_berlin.consent.acc_ref_type is defined %}
    	<AccountReferenceType>{{open_banking_berlin.consent.acc_ref_type}}</AccountReferenceType>
    	{% else %}
    	<AccountReferenceType>iban</AccountReferenceType>
    	{% endif %}

        <!-- Support for multiple recurring consents on AIS resources -->
        {% if open_banking_berlin.consent.multiple_recurring_consent is defined %}
        <EnableMultipleRecurringConsent>{{open_banking_berlin.consent.multiple_recurring_consent.enable}}</EnableMultipleRecurringConsent>
        {% else %}
        <EnableMultipleRecurringConsent>false</EnableMultipleRecurringConsent>
        {% endif %}

        {% if open_banking_berlin.consent.max_future_payment_days is defined %}
        <MaximumFuturePaymentDays>{{open_banking_berlin.consent.max_future_payment_days}}</MaximumFuturePaymentDays>
        {% else %}
        <MaximumFuturePaymentDays></MaximumFuturePaymentDays>
        {% endif %}

        <MultiCurrency>
            {% if open_banking_berlin.consent.multi_currency.enable is defined %}
            <Enable>{{open_banking_berlin.consent.multi_currency.enable}}</Enable>
            {% else %}
            <Enable>false</Enable>
            {% endif %}
        </MultiCurrency>

        <APIVersions>
            {% if open_banking_berlin.consent.api_versions.ais is defined %}
            <AIS>{{open_banking_berlin.consent.api_versions.ais}}</AIS>
            {% else %}
            <AIS>v1</AIS>
            {% endif %}

            {% if open_banking_berlin.consent.api_versions.pis is defined %}
            <PIS>{{open_banking_berlin.consent.api_versions.pis}}</PIS>
            {% else %}
            <PIS>v1</PIS>
            {% endif %}

            {% if open_banking_berlin.consent.api_versions.piis is defined %}
            <PIIS>{{open_banking_berlin.consent.api_versions.piis}}</PIIS>
            {% else %}
            <PIIS>v2</PIIS>
            {% endif %}
        </APIVersions>
    </ConsentManagement>
</Server>
