<!--
 ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 Inc. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein is strictly forbidden, unless permitted by WSO2 in accordance with
 ~ the WSO2 Software License available at https://wso2.com/licenses/eula/3.1.
 ~ For specific language governing the permissions and limitations under this
 ~ license, please see the license as well as any agreement you’ve entered into
 ~ with WSO2 governing the purchase of this software and any associated services.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Berlin Group Integration">
    <test name="Accounts Manage Endpoints" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Manage_Endpoint.AccountsInitiationRequestValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Manage_Endpoint.ConsentRetrievalRequestValidationTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Manage_Endpoint.ConsentDeleteRequestValidationTest"/>
        </classes>
    </test>
    <test name="Accounts Authorization Endpoint" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Authorise_Endpoint.ImplicitAuthorisationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Authorise_Endpoint.ExplicitAuthorisationTests"/>
        </classes>
    </test>
    <test name="Accounts Validate Endpoint" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Validate_Endpoint.ValidateAccountRetrievalTests"/>
        </classes>
    </test>
</suite>
