<!--
 ~ Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Berlin Group Integration">
    <test name="Accounts Manage Endpoints" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Manage_Endpoint.AccountsInitiationRequestValidationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Manage_Endpoint.ConsentRetrievalRequestValidationTest"/>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Manage_Endpoint.ConsentDeleteRequestValidationTest"/>
        </classes>
    </test>
    <test name="Accounts Authorization Endpoint" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Authorise_Endpoint.ImplicitAuthorisationTests"/>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Authorise_Endpoint.ExplicitAuthorisationTests"/>
        </classes>
    </test>
    <test name="Accounts Validate Endpoint" parallel="false" enabled="true">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[whatGroup = System.getProperty("groupToRun");
                            groups.containsKey(whatGroup);
                    ]]>
                </script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="com.wso2.openbanking.toolkit.berlin.keymanager.test.Accounts_Validate_Endpoint.ValidateAccountRetrievalTests"/>
        </classes>
    </test>
</suite>
